bin/
dist/
blastplus/
/mega-phgo-runtime/
tree-viewer/node_modules/
tree-viewer/dist/
tmp/
.cache/
.codex/
.codex-tmp/
.phgo-init-state.json
output/
_mega_source/*
!_mega_source/MEGA12.1-source/
_mega_source/MEGA12.1-source/*
!_mega_source/MEGA12.1-source/Alignment/
_mega_source/MEGA12.1-source/Alignment/*
!_mega_source/MEGA12.1-source/Alignment/malnthread.pas
!_mega_source/MEGA12.1-source/PHgoRuntime/
_mega_source/MEGA12.1-source/PHgoRuntime/*
!_mega_source/MEGA12.1-source/PHgoRuntime/*.lpi
!_mega_source/MEGA12.1-source/PHgoRuntime/*.lpr
!_mega_source/MEGA12.1-source/PHgoRuntime/*.pas
$root/
*.exe
*.dll
*.so
*.dylib
!assets/mega-phgo-runtime/**/runtime/**/*.exe
!assets/mega-phgo-runtime/**/runtime/**/*.dll
!assets/mega-phgo-runtime/**/runtime/**/*.so
!assets/mega-phgo-runtime/**/runtime/**/*.dylib
!assets/mega-phgo-runtime/**/runtime/muscledarwin64
.env
*.log
blast_results_*.xlsx
blast_peptides_*.txt
/mega-phgo-runtime.bin
/muscleWin64.bin
/p450phgo.pgd/
/p450phgo.pgd
/mega-phgo-runtime*.nwk
